{% extends 'accounts/base.html' %}

{% block content %}
    <div class="row mt-3 g-2">
        <div class="col-md-4">
        <div class="card text-center">
            <h5 class="card-header">Total Orders</h5>
            <div class="card-body">                
                <p class="card-text display-6"> {{ total_order }} </p>               
            </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card text-center">
            <h5 class="card-header">Orders Delivered</h5>
            <div class="card-body">                
                <p class="card-text display-6"> {{ delivered }} </p>
            </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card text-center">
            <h5 class="card-header">Orders Pending</h5>
            <div class="card-body">                
                <p class="card-text display-6"> {{ pending }} </p>
            </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <h5>Customer</h5>
            <hr>
            <div class='border d-flex flex-fill'>
                <a class='btn btn-primary btn-sm mb-1 flex-fill'>Create Customer</a>
            </div>
            <table class="table table-success table-striped">
                <tr>
                    <th>Customer</th>
                    <th>Orders</th>
                </tr>
                {% for c in customer %}
                    <tr>
                        <td> <a class='text-decoration-none text-dark' href="{% url 'customer' c.id %}"> {{ c.name }} </a></td>
                        <td> {{ c.order_set.all.count }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-8">
            <h5>Last 5 Orders</h5>
            <hr>
            <div class='border d-flex flex-fill'>
                <a class='btn btn-primary btn-sm mb-1 flex-fill'>Create Order</a>
            </div>
            <table class="table table-success table-striped">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for o in order %}
                    <tr>
                        <td> {{ o.product.name }} </td>
                        <td> {{ o.created_date|date }} </td>
                        <td> {{ o.status }} </td>
                        <td> <a href="" class='btn btn-sm btn-info'>Update</a> </td>
                        <td> <a href="" class='btn btn-sm btn-danger'>Delete</a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}