{% extends 'accounts/base.html' %}

{% block content %}
    <div class="row mt-3 g-2">
        <div class="col-sm-4">
        <div class="card text-center">
            <h5 class="card-header">Products</h5>
            <div class="card-body">                
                <p class="card-text">8</p>               
            </div>
            </div>
        </div>
        <div class="col-sm-4">
        <div class="card text-center">
            <h5 class="card-header">Products</h5>
            <div class="card-body">                
                <p class="card-text">13</p>               
            </div>
            </div>
        </div>
        <div class="col-sm-4">
        <div class="card text-center">
            <h5 class="card-header">Products</h5>
            <div class="card-body">                
                <p class="card-text">29</p>               
            </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-5">
            <h5>Customer</h5>
            <hr>
            <table class="table table-success table-striped">
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                </tr>
            </table>
        </div>

        <div class="col-md-7">
            <h5>Last 5 Orders</h5>
            <hr>
            <table class="table table-success table-striped">
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Status</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}